*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

li a:hover{
    color:red;
}

ul{
    width: 100%;
}

nav{
    padding: 1%;
    border:solid black 1px;
}

.header_nav--link, .header_nav--search,.header_log--link{
    display: inline-block;
}

.header_nav--link{
    padding-left: 3%;
    letter-spacing: 1px;
    font-weight: bold;
}

.header_log{
    float: right;
}

.header_log--link{
    font-size: 13px;
}

.header_nav--size{
    width: 250px;
    height: 35px;
}

.header_nav{
    margin-top: 50px;
    display: flex;
}

.header_nav--search{
    float: right;
   
}

.main_nav{
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: black;
    padding:0.5%;
}


.section-genre {
    height:110vh;
    padding:2rem 0;
    background-color:white;
}

/*.img-girl {}*/

/*.img-boy {}*/

.section-genre__img-girl img{
    float:left;
    height:100%;
    width:50%;
    filter:grayscale(100%);
}

.section-genre__img-girl:hover img{
    filter:none;
}

.section-genre__img-boy img{
    float:right;
    height:100%;
    width:50%;
    filter:grayscale(100%);
}

.section-genre__img-boy:hover img{
    filter:none;
}

a.btn--white--girl {
    text-decoration:none;
    text-transform:uppercase;
    padding:1rem 2rem;
    border-radius: 5rem;
    transition: all .2s;   
    border: none;
    cursor: pointer;
    background-color:rgb(83, 83, 83);
    color:white;
    position:absolute;
    left:20%;
    top:70%;
}
    
a.btn--white--girl:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    background-color:rgb(117, 117, 117);
}
    
a.btn--white--girl::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

a.btn--white--boy { 
    text-decoration:none;
    text-transform:uppercase;
    padding:1rem 2rem;
    border-radius: 5rem;
    transition: all .2s;   
    border: none;
    cursor: pointer;
    background-color:rgb(83, 83, 83);
    color:white;
    position:absolute;
    right:20%;
    top:70%;
            
}
        
a.btn--white--boy:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    background-color:rgb(117, 117, 117);
}
}
        
a.btn--white--boy::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@media all and (max-width:30em) {
    a.btn--white--boy {
        display:block;
        margin:0.4em auto;
    }
    a.btn--white--girl {
        display:block;
        margin:0.4em auto;
    }
}
    

.main_dest{
    text-align: center;
}

.main_dest--tittle{
    font-size: 30px;
    padding: 5%;
}
