* {
  padding: 0vw;
  margin: 0vw;
  box-sizing: border-box; }

a {
  color: black; }
  a:hover, a:focus {
    color: grey; }
  a:active {
    color: white; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.header_n {
  padding: 1vw;
  border: solid black 0.5vw; }

.header_ul {
  width: 100%; }

.header_log {
  float: right;
  margin: 0.5vw; }
  .header_log--link {
    font-size: 0.9vw;
    margin-right: 0.7vw;
    list-style: none;
    display: inline-block; }
    .header_log--link-ES {
      width: 1.4vw;
      height: 0.8vw;
      margin-right: 0.5vw; }
    .header_log--link-ubica {
      width: 0.9vw;
      height: 0.9vw;
      margin-right: 0.2vw; }
    .header_log--link-hlp {
      width: 0.7vw;
      height: 1.02vw;
      margin-right: 0.1vw; }
    .header_log--link-email {
      width: 1.1vw;
      height: 0.94vw;
      margin-right: 0.1vw; }
    .header_log--link-info {
      width: 1vw;
      height: 0.9vw; }
    .header_log--link-cuenta {
      width: 0.9vw;
      height: 0.9vw;
      margin-right: 0.2vw; }
    .header_log--link-cesta {
      width: 1.2vw;
      height: 0.9vw;
      margin-right: 0.2vw; }

.header_nav {
  margin-top: 4vw;
  display: flex;
  margin-right: 3vw;
  margin-left: 7vw;
  font-size: 1vw; }
  .header_nav--link, .header_nav--search, .header_nav--link {
    display: inline-block; }
  .header_nav--link {
    margin-left: 2vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    margin-right: 1vw; }
    .header_nav--link-enlace {
      color: black; }
      .header_nav--link-enlace-enlace:hover, .header_nav--link-enlace:focus {
        color: grey; }
      .header_nav--link-enlace:active {
        color: white; }
  .header_nav--search {
    float: right;
    height: 1.5vw; }
    .header_nav--search::placeholder {
      font-size: 1vw; }
  .header_nav--size {
    margin-top: -0.5vw;
    width: 15vw;
    height: 2vw; }
  .header_nav--loop {
    float: right;
    width: 2vw;
    height: 2vw;
    margin-top: -0.5vw;
    margin-right: -18.5vw; }
  .header_nav--log {
    width: 5vw;
    height: 5vw;
    float: left;
    margin-top: -3.9vw;
    margin-left: -6vw; }

.main_nav {
  color: white;
  height: 3vw;
  background-color: black;
  border: solid black 0.5vw; }
  .main_nav--title {
    width: 20vw;
    margin-left: 40vw; }
  .main_nav--icon-l {
    font-size: 3vw;
    width: 2vw;
    height: 3.5vw;
    margin-left: 0.5vw;
    margin-top: -1vw;
    float: left;
    color: white;
    clip-path: text; }
  .main_nav--icon-r {
    font-size: 3vw;
    height: 3.5vw;
    width: 2vw;
    margin-top: -2.5vw;
    float: right;
    color: white;
    clip-path: text; }
