.main_nav{
    color: white;
    height: 3vw;
    background-color: black;
    border: solid black 0.5vw;

    &--title {
        width: 20vw;
        margin-left: 40vw;
    }

    &--icon-l {
        font-size: 3vw;
        width: 2vw;
        height: 3.5vw;
        margin-left: 0.5vw;
        margin-top: -1vw;
        float: left;
        color: white;
        clip-path: text;
    }
    &--icon-r {
        font-size: 3vw;
        height: 3.5vw;
        width: 2vw;
        margin-top: -2.5vw;    
        float: right;
        color: white;
        clip-path: text;
    }
}

